In [2]:
import pandas as pd
import numpy as np 
import csv

from math import sqrt

import matplotlib.pyplot as plt
import seaborn as sns

from edafunctions import df_remove_columns_threshold as rmcol
from edafunctions import df_merge_dataframes_left as merle

## Basic Data Import and Cleaning

In [3]:
dfvehicles = pd.read_csv(r"data/TrafficCrashes-Vehicle.csv", low_memory=False)

In [4]:
dfvehicles = rmcol(dfvehicles)

In [5]:
dfvehicles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 925738 entries, 0 to 925737
Data columns (total 16 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   CRASH_UNIT_ID        925738 non-null  int64
 1   CRASH_RECORD_ID      925738 non-null  object
 2   RD_NO                918507 non-null  object
 3   CRASH_DATE           925738 non-null  object
 4   UNIT_NO              925738 non-null  int64
 5   UNIT_TYPE            924349 non-null  object
 6   VEHICLE_ID           904074 non-null  float64
 7   MAKE                 904069 non-null  object
 8   MODEL                903927 non-null  object
 9   VEHICLE_DEFECT       904074 non-null  object
 10  VEHICLE_TYPE         904074 non-null  object
 11  VEHICLE_USE          904074 non-null  object
 12  TRAVEL_DIRECTION     904074 non-null  object
 13  MANEUVER             904074 non-null  object
 14  OCCUPANT_CNT         904074 non-null  float64
 15  FIRST_CONTACT_POINT  898669 non-null  object
dtypes: float64(2), int64(2), object(12)
memory usage: 113.0+ MB

In [6]:
dfcrash = pd.read_csv(r"data/TrafficCrashes-Crashes.csv", low_memory=False)

In [7]:
dfcrash = rmcol(dfcrash)

In [8]:
dfcrash.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 453873 entries, 0 to 453872
Data columns (total 38 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   CRASH_RECORD_ID                453873 non-null  object
 1   RD_NO                          450376 non-null  object
 2   CRASH_DATE                     453873 non-null  object
 3   POSTED_SPEED_LIMIT             453873 non-null  int64
 4   TRAFFIC_CONTROL_DEVICE         453873 non-null  object
 5   DEVICE_CONDITION               453873 non-null  object
 6   WEATHER_CONDITION              453873 non-null  object
 7   LIGHTING_CONDITION             453873 non-null  object
 8   FIRST_CRASH_TYPE               453873 non-null  object
 9   TRAFFICWAY_TYPE                453873 non-null  object
 10  ALIGNMENT                      453873 non-null  object
 11  ROADWAY_SURFACE_COND           453873 non-null  object
 12  ROAD_DEFECT                    453873 non-null  object
 13  REPORT_TYPE                    443012 non-null  object
 14  CRASH_TYPE                     453873 non-null  object
 15  DAMAGE                         453873 non-null  object
 16  DATE_POLICE_NOTIFIED           453873 non-null  object
 17  PRIM_CONTRIBUTORY_CAUSE        453873 non-null  object
 18  SEC_CONTRIBUTORY_CAUSE         453873 non-null  object
 19  STREET_NO                      453873 non-null  int64
 20  STREET_DIRECTION               453870 non-null  object
 21  STREET_NAME                    453872 non-null  object
 22  BEAT_OF_OCCURRENCE             453868 non-null  float64
 23  NUM_UNITS                      453873 non-null  int64
 24  MOST_SEVERE_INJURY             452971 non-null  object
 25  INJURIES_TOTAL                 452981 non-null  float64
 26  INJURIES_FATAL                 452981 non-null  float64
 27  INJURIES_INCAPACITATING        452981 non-null  float64
 28  INJURIES_NON_INCAPACITATING    452981 non-null  float64
 29  INJURIES_REPORTED_NOT_EVIDENT  452981 non-null  float64
 30  INJURIES_NO_INDICATION         452981 non-null  float64
 31  INJURIES_UNKNOWN               452981 non-null  float64
 32  CRASH_HOUR                     453873 non-null  int64
 33  CRASH_DAY_OF_WEEK              453873 non-null  int64
 34  CRASH_MONTH                    453873 non-null  int64
 35  LATITUDE                       451411 non-null  float64
 36  LONGITUDE                      451411 non-null  float64
 37  LOCATION                       451411 non-null  object
dtypes: float64(10), int64(6), object(22)
memory usage: 131.6+ MB

In [9]:
dfpeople = pd.read_csv(r"data/TrafficCrashes-People.csv", low_memory=False)

In [10]:
dfpeople = rmcol(dfpeople)

In [11]:
dfpeople.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1006093 entries, 0 to 1006092
Data columns (total 11 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   PERSON_ID              1006093 non-null  object
 1   PERSON_TYPE            1006093 non-null  object
 2   CRASH_RECORD_ID        1006093 non-null  object
 3   RD_NO                  998607 non-null   object
 4   VEHICLE_ID             985919 non-null   float64
 5   CRASH_DATE             1006093 non-null  object
 6   SEX                    991169 non-null   object
 7   SAFETY_EQUIPMENT       1003090 non-null  object
 8   AIRBAG_DEPLOYED        986732 non-null   object
 9   EJECTION               993588 non-null   object
 10  INJURY_CLASSIFICATION  1005547 non-null  object
dtypes: float64(1), object(10)
memory usage: 84.4+ MB

## Create a merged data table on CRASH_RECORD_ID

In [12]:
merge = 'CRASH_RECORD_ID'

In [13]:
dfmerge = pd.merge(dfvehicles, dfcrash, how='left', on=merge)

In [21]:
dfmerge.head()

,CRASH_UNIT_ID,CRASH_RECORD_ID,RD_NO_x,CRASH_DATE_x,UNIT_NO,UNIT_TYPE,VEHICLE_ID,MAKE,MODEL,VEHICLE_DEFECT,...,INJURIES_NON_INCAPACITATING,INJURIES_REPORTED_NOT_EVIDENT,INJURIES_NO_INDICATION,INJURIES_UNKNOWN,CRASH_HOUR,CRASH_DAY_OF_WEEK,CRASH_MONTH,LATITUDE,LONGITUDE,LOCATION
0,10,2e31858c0e411f0bdcb337fb7c415aa93763cf2f23e02f...,HY368708,08/04/2015 12:40:00 PM,1,DRIVER,10.0,FORD,Focus,NONE,...,0.0,0.0,2.0,0.0,12,3,8,41.903416,-87.656037,POINT (-87.65603711678 41.903416088848)
1,100,e73b35bd7651b0c6693162bee0666db159b28901437009...,HY374018,07/31/2015 05:50:00 PM,1,DRIVER,96.0,NISSAN,Pathfinder,NONE,...,0.0,0.0,2.0,0.0,17,6,7,41.848588,-87.618689,POINT (-87.618688565091 41.848587734205)
2,1000,f2b1adeb85a15112e4fb7db74bff440d6ca53ff7a21e10...,HY407431,09/02/2015 11:45:00 AM,1,DRIVER,954.0,FORD,F150,UNKNOWN,...,0.0,0.0,2.0,0.0,11,4,9,41.904034,-87.629923,POINT (-87.629922816094 41.904033653296)
3,10000,15a3e24fce3ce7cd2b02d44013d1a93ff2fbdca80632ec...,HY484148,10/31/2015 09:30:00 PM,2,DRIVER,9561.0,HYUNDAI,SONATA,NONE,...,0.0,0.0,3.0,0.0,21,7,10,41.997388,-87.703231,POINT (-87.703230530375 41.997388252633)
4,100000,1d3c178880366c77deaf06b8c3198429112a1c8e8807ed...,HZ518934,11/16/2016 01:00:00 PM,2,PARKED,96745.0,"TOYOTA MOTOR COMPANY, LTD.",RAV4 (sport utility),UNKNOWN,...,0.0,0.0,1.0,0.0,13,4,11,41.963016,-87.652501,POINT (-87.652501464712 41.963015663194)

In [22]:
dfmerged = pd.merge(dfmerge, dfpeople, how='left', on=merge)

In [23]:
dfmerged.describe()

,CRASH_UNIT_ID,UNIT_NO,VEHICLE_ID_x,OCCUPANT_CNT,POSTED_SPEED_LIMIT,STREET_NO,BEAT_OF_OCCURRENCE,NUM_UNITS,INJURIES_TOTAL,INJURIES_FATAL,...,INJURIES_NON_INCAPACITATING,INJURIES_REPORTED_NOT_EVIDENT,INJURIES_NO_INDICATION,INJURIES_UNKNOWN,CRASH_HOUR,CRASH_DAY_OF_WEEK,CRASH_MONTH,LATITUDE,LONGITUDE,VEHICLE_ID_y
count,2.115954e+06,2.115954e+06,2.065023e+06,2.065023e+06,2.115954e+06,2.115954e+06,2.115930e+06,2.115954e+06,2.114418e+06,2.114418e+06,...,2.114418e+06,2.114418e+06,2.114418e+06,2114418.0,2.115954e+06,2.115954e+06,2.115954e+06,2.104365e+06,2.104365e+06,2.069724e+06
mean,4.978058e+05,3.374134e+00,4.741220e+05,1.388109e+00,2.883798e+01,3.578908e+03,1.234728e+03,2.187497e+00,2.935285e-01,1.633073e-03,...,1.623671e-01,9.884469e-02,2.675287e+00,0.0,1.346630e+01,4.145678e+00,6.770168e+00,4.185315e+01,-8.766732e+01,4.741861e+05
std,2.860458e+05,2.597244e+03,2.699553e+05,1.404195e+00,5.998828e+00,2.883237e+03,7.051333e+02,6.244938e-01,8.312822e-01,4.724396e-02,...,6.184463e-01,4.581869e-01,2.067176e+00,0.0,5.381389e+00,1.983840e+00,3.372745e+00,4.754937e-01,9.818589e-01,2.698967e+05
min,2.000000e+00,0.000000e+00,2.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.110000e+02,1.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,-8.793401e+01,2.000000e+00
25%,2.496780e+05,1.000000e+00,2.419340e+05,1.000000e+00,3.000000e+01,1.159000e+03,7.120000e+02,2.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,2.000000e+00,0.0,1.000000e+01,2.000000e+00,4.000000e+00,4.178577e+01,-8.772140e+01,2.420580e+05
50%,4.984790e+05,2.000000e+00,4.755130e+05,1.000000e+00,3.000000e+01,3.101000e+03,1.211000e+03,2.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,2.000000e+00,0.0,1.400000e+01,4.000000e+00,7.000000e+00,4.187612e+01,-8.767328e+01,4.755200e+05
75%,7.466410e+05,2.000000e+00,7.083555e+05,2.000000e+00,3.000000e+01,5.500000e+03,1.821000e+03,2.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,3.000000e+00,0.0,1.700000e+01,6.000000e+00,1.000000e+01,4.192352e+01,-8.763263e+01,7.083760e+05
max,9.906910e+05,3.778035e+06,9.388350e+05,9.900000e+01,9.900000e+01,4.511000e+05,6.100000e+03,1.800000e+01,2.100000e+01,4.000000e+00,...,2.100000e+01,1.500000e+01,6.100000e+01,0.0,2.300000e+01,7.000000e+00,1.200000e+01,4.202278e+01,0.000000e+00,9.388270e+05

In [17]:
dfmerged = dfmerged.dropna() # because of amount of data, am going to remove all rows with an NaN value present

In [18]:
dfmerged = dfmerged.drop_duplicates(keep='first')

In [ ]:
# what other columns can be dropped right away? 
# drop_columns = ['RD_NO_x, TRAVEL_DIRECTION, RD_NO_y, DATE_POLICE_NOTIFIED, STREET_NAME, STREET_DIRECTION, STREET_NO, CRASH_RECORD_ID, CRASH_UNIT_ID, UNIT_NO, VEHICLE_ID_x, FIRST_CONTACT_POINT, LOCATION']
dfmerged = dfmerged.drop(columns=['CRASH_RECORD_ID', 'RD_NO_x', 'TRAVEL_DIRECTION', 'RD_NO_y', 'DATE_POLICE_NOTIFIED', 'STREET_NAME', 'STREET_DIRECTION', 'STREET_NO', 'CRASH_RECORD_ID', 'CRASH_UNIT_ID', 'UNIT_NO', 'VEHICLE_ID_x', 'FIRST_CONTACT_POINT', 'LOCATION'])

In [ ]:
dfmerged = dfmerged.drop(columns=['RD_NO', 'VEHICLE_ID_y'])

In [ ]:
dfmerged.info()

In [ ]:
dfmerged['CRASH_TYPE'].unique() # multicollinearity with most severe injury column

In [ ]:
dfmerged['MOST_SEVERE_INJURY'].unique() # target classification column, INJURIES_FATAL column has the total number of fatalities in a given accident - some of our rows are duplicates - how to remove

In [ ]:
dfmerged['OCCUPANT_CNT'].unique() # occupant count

In [ ]:
dfmerged['PERSON_TYPE'].unique()

In [ ]:
dfmerged['INJURIES_FATAL'].unique()

In [ ]:
dfmerged['INJURY_CLASSIFICATION'].unique() # gives injury on a per individual basis

In [ ]:
dfmerged['MANEUVER'].unique()

In [ ]:
dfmerged['PRIM_CONTRIBUTORY_CAUSE'].unique()

In [ ]:
dfmerged['SEC_CONTRIBUTORY_CAUSE'].unique()

In [ ]:
# There are a few more things to do to clean data
# 1) I want to reduce amount of data - I only want crash data from year 2018 onwards so I will filter for that
# 2) Remove rows that have 'Unkown' or 'Other' in the VEHICLE_DEFECT column
# 3) Remove Unknown/NA from VEHICLE_TYPE, VEHICLE_USE, MANEUVER, 
# 4) Remove any rows with POSTED_SPEED_LIMIT less than 15 mph
# 5) Remove Unknown from TRAFFIC_CONTROL_DEVICE
# 6) Remove Unknown from DEVICE_CONDITION
# 7) Remove longitude/latitude coordinates outside of Chicago area

In [ ]:
dfmerged['CRASH_DATE_x'] = pd.to_datetime(dfmerged.CRASH_DATE_x)
dfmerged['CRASH_DATE_x'] = pd.DatetimeIndex(dfmerged['CRASH_DATE_x']).year

In [ ]:
dfmerged.head()

In [ ]:
df_recent = dfmerged[dfmerged.CRASH_DATE_x >= 2015]

In [ ]:
df_recent.info()

In [ ]:
df_recent.describe()

In [ ]:
df1 = df_recent[df_recent['VEHICLE_DEFECT'] != 'UNKNOWN']
df1 = df1[df1['VEHICLE_DEFECT'] != 'OTHER']
df1 = df1[df1['VEHICLE_TYPE'] != 'UNKNOWN/NA']
df1 = df1[df1['TRAFFIC_CONTROL_DEVICE'] != 'UNKNOWN']
df1 = df1[df1['DEVICE_CONDITION'] != 'UNKNOWN']

In [ ]:
df1['VEHICLE_DEFECT'].unique()

In [ ]:
df1 = df1[df1['LONGITUDE'] != 0]
df1 = df1[df1['LATITUDE'] != 0]

In [ ]:
df1.info()

In [ ]:
df2 = df1.sample(frac=0.5)
df2.to_csv('ChicagoCrashes.csv')
Sample1 = df1.sample(frac=0.2)
Sample2 = df1.sample(frac=0.2)
Sample3 = df1.sample(frac=0.2)

Sample1.to_csv('Sample1.csv')
Sample2.to_csv('Sample2.csv')
Sample3.to_csv('Sample3.csv')

In [ ]:
Sample1.info()